<!DOCTYPE html>
<html>
<head>
	<title>Automobile Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='dd.css')}}">
	<title>Lab project</title>
</head>
<body>
	    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Automoblie Store</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{url_for('home')}}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('Sellform')}}" class="nav-link">SELL</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('register_from')}}" class="nav-link">Register</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="nav-link">Profile</a></li>
                <li><a href="{{url_for('login_form')}}" class="nav-link" > Login</a></li>
              </ul>
        </div>

    </nav>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
	{% with messages=get_flashed_messages() %}
	{% if messages%}
	{% for m in messages %}
	{{m}}
	{% endfor %}
	{% endif %}
	{% endwith %}
{% block content %}
{% endblock %}
</body>
</html>